#map, #mapHolder, #bodyDiv, #data, .container-fluid
{
	height: 100%;
}

#data {
	  overflow-y: scroll;
}

/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}