<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Location Tracker</title>
    <link rel="stylesheet" type="text/css" href="css/maps.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/maps.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtTW5TNHjziussxOe-RkPJ5lHyoFQa1tk&callback=initMap"></script>

    <div class="container-fluid">
        <div class="row" id="bodyDiv">
        	<div id="data" class="col-md-3">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-md-6">
                        <span>Day: 
                            <select id="filterTime">
                                <option value="all">All</option>
                                {% for day in days %}
                                <option value="{{ day }}"]'>{{ day }}</option>
                                {% endfor %}
                            </select></span>
                    </div>
                    <div class="col-md-6">
                        Lap:
                        <select id="filterLap">
                            <option>All</option>
                        </select>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-12">   
            			<table class="table .table-bordered ">
            				<thead>
        						<tr>
        							<th scope="col">Location</th>
        							<th scope="col">Time</th>
        							<th scope="col">Delta</th>
                                    <th scope="col">Lap</th>
        						</tr>
        					</thead>
        					<tbody>
        					</tbody>
            			</table>
                    </div>
                </div>
        	</div>
        	<div class="col-md-9" id="mapHolder">
        		<div id="map"></div>
        	</div>
    	</div>
    </div>
  </body>
</html>

